@import '../../constants/colors.scss';
.worklogs-container {
    //background-color: red;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.6fr repeat(3, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    overflow-y: hidden;
    .logs-header {
        grid-area: 1 / 1 / 2 / 6;
        margin: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        .header-content {
            color: $primary-black;
            font-size: 3rem;
        }
        .button-group {
            display: flex;
            margin-top: 0.8rem;
            border-radius: 0.6rem;
            .single-day {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-right: 1rem;
                padding: 0;
                height: 5rem;
                padding: 0.4rem 0;
                border: 2px solid rgb(240, 240, 240);
                background: transparent;
                .day {
                    font-size: 0.8rem;
                    font-weight: 500;
                }
                .date {
                    font-weight: 700;
                    font-size: 1.5rem;
                    color: $primary-black;
                    margin-top: 0.6rem;
                    width: 2.3rem;
                    height: 2.3rem;
                    border-radius: 50%;
                }
            }
            .active-day {
                border-color:#333;
                .date {
                    background-color: rgb(0, 0, 0);
                    color: #ffffff;
                }
            }
        }
    }
    .logs-wrapper {
        grid-area: 2 / 1 / 5 / 6;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        //flex-direction: column;
        //justify-content: space-between;
        padding-right: 0.8rem;
        margin: 0rem 1rem;
        overflow-x: hidden;
        .single-login {
            width: 24rem;
            position: relative;
            background: #f0f0f0;
            border-radius: 0.6rem;
            padding: 1rem;
            margin: 0 0 1rem 1rem;
            //border-bottom: 1px solid rgb(214, 214, 214);
            // &:first-child {
            //     border-top: 1px solid rgb(214, 214, 214);
            // }
            .log-content {
                margin-top: 0.8rem;
                font-size: 1rem;
            }
            .top-row {
                display: flex;
                justify-content: space-between;
                .log-time {
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: #333333;
                }
                .labels {
                    display: flex;
                    align-items: flex-end;
                    .label {
                        font-size: 0.6rem;
                        font-weight: 600;
                        color: #ffffff;
                        border-radius: 0.4rem;
                        margin-left: 0.4rem;
                        padding: 0.2rem 0.6rem;
                    }
                    // .label:nth-child(1) { background-color: #8a4af3; }
                    // .label:nth-child(2) { background-color: #e91e63; }
                    // .label:nth-child(3) { background-color: #03a9f4; }
                    // .label:nth-child(4) { background-color: #ff9800; }
                }
            }
            .floater {
                position: absolute;
                top: 0;
                right: 1rem;
                transform: translateY(50%);
                .fas {
                    cursor: pointer;
                    color: #60676e;
                }
            }
            .dropdown {
                background-color: #ffffff;
                position: absolute;
                min-width: 8rem;
                top: 0;
                right: 2rem;
                transform: translateY(15%);
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                padding: 0rem 0.4rem;
                font-size: 0.9rem;
                border-radius: 0.4rem;
                .item {
                    border-radius: 0.3rem;
                    margin: 0.4rem 0;
                    padding: 0.4rem 0.8rem;
                    &:hover {
                        cursor: pointer;
                        background: #dee9fd;
                    }
                    &:last-child {
                        color: #e04949;
                        &:hover {
                            background: #fddede;
                        }
                    }
                }
            }
            @media (max-width: 600px) {
                user-select: none;
            }
        }
        @media (max-width: 600px) {
            padding-right: 0rem;
            margin: 0rem 0rem;
        }
    }

    .logs-wrapper::-webkit-scrollbar-track {
        border-radius: 0rem;
        // box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.219);
        // -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.219);
        background-color: transparent;
    }

    .logs-wrapper::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    .logs-wrapper::-webkit-scrollbar-thumb {
        border-radius: 0rem;
        background-color: #fc4848cb;
    }

    .input-container {
        grid-area: 5 / 1 / 6 / 6;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //background-color: rgb(72, 243, 255);
        //border-radius: 3rem;
        margin: 0 1rem 1rem 1rem;
        //padding: 0.6rem 0.6rem 0.6rem 1.5rem;
        .input {
            width: 80%;
            border: none;
            resize: none;
            background: transparent;
            caret-color: red;
            font-size: 1.1rem;
            //padding: 0.4rem 0.6rem;
            //background-color: red;
            @media (max-width: 600px) {
                display: none;
            }
        }
        .input-buttons {
            display: flex;
            position: relative;
            .input-button {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                border: 2px solid #eeeeee; //#dae4f0
                font-size: 1rem;
                width: 3rem;
                height: 3rem;
                list-style: none;
                margin-left: 1rem;
                @media (max-width: 600px) {
                    width: 2.5rem;
                    height: 2.5rem;
                    margin: 0 1rem;
                }
                @media (max-width: 464px) {
                    .input-icons {
                        font-size: 0.7rem;
                    }
                }
            }
            .input-button.play, .input-button.label, .input-button.mic, .input-button.send, .input-button.timer {
                background: linear-gradient(145deg, #ffffff, #f9ffff);
                color: #8d8d8d; //#9fafc8
            }
            .input-button.label {
                position: relative;
                .badge {
                    top: 0;
                    right: 0;
                    transform: translateY(-20%) translateX(20%);
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 50%;
                    font-size: 0.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    color: #ffffff;
                    background-color: rgb(255, 80, 57);
                }
            }
            .input-button.pause {
                color: #ffffff;
                background: linear-gradient(145deg, #533939, #573b3b);//#89aeff #7393e6
                border-color:#140909; // #5f84fc
                box-shadow: inset 6px 6px 13px #1d1515,
                inset -6px -6px 13px #251e1e; //#567ad9 #74a4ff
            }
        }
        @media (max-width: 600px) {
            justify-content: center;
        }
    }
    
    .mob-input-container {
        right: 1rem;
        bottom: 5rem;
        position: absolute;
        //transform: translateY(-10%) translateX(-30%);
        .mob-inputs {
            width: 3rem;
            height: 3rem;
            margin-top: 0.8rem;
            border-radius: 50%;
            color: #ffffff;
            background: linear-gradient(145deg, #89aeff, #7393e6);
            padding: 0.6rem;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .input-opener {
            cursor: pointer;
        }
    }
    .mob-input-overlay {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        justify-content: center;
        align-items: center;
        .mob-input {
            position: relative;
            background-color: #ffffff;
            width: 80%;
            //height: 9rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 0.4rem;
            .mob-input-head {
                font-weight: 400;
                font-size: 1rem;
                margin-top: 0.8rem;
            }
            .main-input {
                outline: none;
                border: none;
                text-align: center;
                padding: 0.4rem 0.8rem;
                margin: 0.8rem 0;
                background: transparent;
                width: 100%;
                font-size: 1.3rem;
            }
            .mob-input-done {
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.8rem 0;
                font-size: 1rem;
                margin-bottom: -1px;
                background-color: #5f84fc;
                color: #ffffff;
                border-radius: 0 0 0.4rem 0.4rem;
            }
            .mob-input-box-closer {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(30%) translateX(-80%);
                font-size: 1.5rem;
            }
            .mob-input-button {
                align-self: flex-start;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                border: 2px solid #dae4f0;
                font-size: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                margin: 0 0 0.8rem 0.8rem;
                color: #9fafc8;
                .input-icons {
                    font-size: 0.7rem;
                }
            }
            .mob-input-button.label {
                position: relative;
                .badge {
                    top: 0;
                    right: 0;
                    transform: translateY(-20%) translateX(20%);
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 50%;
                    font-size: 0.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    color: #ffffff;
                    background-color: rgb(255, 80, 57);
                }
            }
        }
    }
}

.the-labels-mob {
    position: absolute;
}
.the-labels {
    position: absolute;
    left: 0;
    top: -100%;
    transform: translateX(-29%) translateY(-89%);
}
.the-labels-left {
    transform: translateX(-29%) translateY(-110%);
}