<div class="worklogs-container">
    
    <div class="logs-header">
        <h1 class="header-content">
            Personal Logs
        </h1>

        <div class="button-group">

            <button class="basic-button single-day" *ngFor="let day of this.weekDays" [class.active-day]="day.toggle" [class.disabled-day]="!day.is_active" (click)="selectDay(day)">
                <div class="day">{{ day.day }}</div>
                <div class="date">{{ day.dayNum }}</div>
            </button>

        </div>

        <div class="dropdown">

            <button></button>
            
            <div class="options">

                <input id="radio-week" type="radio" name="days-type" value="week" checked>
                <label style="--index: 1" for="radio-week">This Week</label>
            
                <input id="radio-month" type="radio" name="days-type" value="month">
                <label style="--index: 2" for="radio-month">This Month</label>
            
            </div>
            
            <svg viewBox="0 0 24 24">
                <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
            </svg>
            
        </div>

    </div>

    <div class="logs-wrapper" @stagger *ngIf='showLogs' id="logs">

        <app-log-loader *ngIf="loader === true"></app-log-loader>
        
        <div class="single-login" *ngFor="let log of data">

            <p class="log-content">
                {{ log.log | truncate:[152, '...'] }}
            </p>

            <div class="bottom-row">
                <p class="log-time">{{ log.createdAt | date:'hh:mm a' }}</p>

                <div class="labels">
                    <div class="label" *ngFor="let label of log.labels" [ngStyle]="{ 'background-color': label.color}"></div>
                </div>
            </div>

            <div class="ghost-outer-div" (clickElsewhere)="closeDropdown(log._id)">

                <div class="floater">
                    <i (click)="menuToggle(log._id)" class="fas fa-ellipsis-v"></i>
                </div>
    
                <div *ngIf="log.menuBool === true" class="dropdown">
                    <div class="item">Edit</div>
                    <div (click)="deleteLog(log._id)" class="item">Delete</div>
                </div>

            </div>

        </div>

    </div>

    <div class="no-logs-wrapper" *ngIf='!showLogs'>

        <img src="../../../assets/images/no-logs.svg" alt="no-results">

        <h3>No logs to show</h3>

    </div>

    <div class="input-container" *ngIf="screenWidth > 600">

        <input type="text" [formControl]="textInput" (keyup)="submitLogKey($event)" name="textInput" placeholder="What are you doing now ?" autocomplete="off" class="input" autofocus />

        <div class="input-buttons">

            <button (click)="openLabels()" title="Add labels" class="input-button label">

                <i class="fas fa-tags input-icons"></i>
                <div *ngIf="labelCount" class="badge">{{ labelCount }}</div>
    
            </button>

            <button title="Start timer" class="input-button" (click)="timeStart()" [ngClass]="playButton ? 'pause' : 'play' ">

                <i class="fas input-icons" [ngClass]="playButton ? 'fa-stop' : 'fa-play'"></i>
    
            </button>

            <button *ngIf="!textInput.value" title="Add audio note" class="input-button mic">

                <i class="fas fa-microphone input-icons"></i>
    
            </button>
            
            <button *ngIf="textInput.value" (click)="submitLog()" title="Submit" class="input-button send">

                <i class="fas fa-paper-plane input-icons"></i>
    
            </button>

            <app-labels class="the-labels" [ngClass]="playButton ? 'the-labels-left' : 'the-labels' " (onLabelAdd)="recieve($event)" [toLabels]="labels" *ngIf="labelBoolean" @fadeSlideInOut></app-labels>

            <app-logtimer *ngIf="playButton" @fadeSlideInOut></app-logtimer>

        </div>

    </div>

    <div class="mob-input-container" *ngIf="screenWidth <= 600">
        <!-- <div *ngIf="mobInputBoolean" @stagger>

            <div class="mob-inputs" *ngFor="let button of mobButtons">
                <i class={{button.class}}></i>
            </div>

        </div>
        <div (click)="openMobInput()" *ngIf="!mobInputBoolean" class="mob-inputs input-opener">
            <i class="fas fa-plus"></i>
        </div>
        <div (click)="openMobInput()" *ngIf="mobInputBoolean" class="mob-inputs input-opener">
            <i class="fas fa-times"></i>
        </div> -->
        <div (click)="openMobInput()" *ngIf="!mobInputBoolean" class="mob-inputs input-opener">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="mob-input-overlay" *ngIf="mobInputBoolean">
        <div class="mob-input">
            <i (click)="openMobInput()" class="fas fa-times mob-input-box-closer"></i>
            <h3 class="mob-input-head">Add your log</h3>
            <input type="text" [formControl]="textInput" name="textInput" placeholder="Enter here" autocomplete="off" autofocus class="main-input" />
            
            <button (click)="mobopenLabels()" title="Add labels" class="mob-input-button label">

                <i class="fas fa-tags input-icons"></i>
                <div *ngIf="labelCount" class="badge">{{ labelCount }}</div>
    
            </button>

            <div class="mob-input-done" (click)="submitLog()">Done</div>
        </div>
        <!-- [ngClass]="playButton ? 'the-labels-left' : 'the-labels' "  class="the-labels"-->
        <app-labels class="the-labels-mob" (onLabelAdd)="recieve($event)" [toLabels]="labels" *ngIf="moblabelBoolean" @fadeSlideInOut></app-labels>
    </div>

</div>
