$primary-color: RGB(227, 59, 21);
//#95EAAE
.navigation-container {
    background: #dee9fd;
    height: 100vh;
    width: 6rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .navigator-list {
        .navigator {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            border: 2px solid #dae4f0;
            background: linear-gradient(145deg, #f9ffff, #d2d9e3);
            box-shadow:  6px 6px 13px #c6cdd6,
                        -6px -6px 13px #ffffff;
            // box-shadow:  6px 6px 13px #567ad9,
            //             -6px -6px 13px #74a4ff;
            width: 4rem;
            height: 4rem;
            margin: 2.5rem 0;
            list-style: none;
            color: #9fafc8;
            padding: 1rem;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .navigator-active {
            color: #ffffff;
            background: linear-gradient(145deg, #89aeff, #7393e6);
            //background: linear-gradient(145deg, #4d6ec3, #7fa3ff);
            border-color:#5f84fc;
            box-shadow: inset 6px 6px 13px #567ad9,
            inset -6px -6px 13px #74a4ff;
        }
    }
    .nav-icons {
        font-size: 1.5rem;
      }
}