@import '../../constants/colors.scss';
//#95EAAE
.navigator-list, .end-menu  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation-container {
    height: 100vh;
    width: 6rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 600px) {
        width: 100%;
        height: auto;
        bottom: 0;
    }
    .navigator-list {
        height: 90%;
        .navigator {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            color: $primary-black;
            opacity: 0.8;
            list-style: none;
            padding: 1rem;
            transition: all 400ms ease-in-out;
            &:hover {
                cursor: pointer;
            }
            @media (max-width: 600px) {
                margin: 0.7rem 2rem;
                width: 3rem;
                height: 3rem;
                background: none;
                box-shadow: none;
                border: none;
            }
            @media (max-width: 464px) {
                margin: 0.7rem 0rem;
            }
        }
        .navigator-active {
            opacity: 1;
            transform: scale(1.6);
            margin: 1rem 0;
        }
        @media (max-width: 600px) {
            display: flex;
        }
        @media (max-width: 464px) {
            margin: 0 1rem;
            width: 100%;
            justify-content: space-between;
        }
    }
    .nav-icons {
        width: 2rem;
        // font-size: 1.5rem;
        // @media (max-width: 464px) {
        //     font-size: 1rem;
        // }
    }

    .end-menu {
        height: 10%;
        .nav-icons:hover {
            cursor: pointer;
        }
    }
}

