<nav class="navigation-container">

    <ul class="navigator-list">

        <li [routerLink]="['/pages/dashboard']" routerLinkActive="navigator-active" class="navigator">
            <i class="fas fa-home nav-icons"></i>
        </li>

        <li [routerLink]="['/pages/worklogs']" routerLinkActive="navigator-active" class="navigator">
            <i class="fas fa-briefcase nav-icons"></i>
        </li>

        <li [routerLink]="['/pages/config']" routerLinkActive="navigator-active" class="navigator">
            <i class="fas fa-user nav-icons"></i>
        </li>

    </ul>

</nav>
