<div class="register-container">

    <div class="left-container">
        <div class="container">
            Hey
        </div>
    </div>

    <div class="right-container">

        <form>

            <h3 class="form-header">New account</h3>
    
            <input type="text" class="basic-input-text login-input" placeholder="Email" />
    
            <input type="password" class="basic-input-text login-input" placeholder="Password" />

            <button class="basic-button login-button">Register</button>
    
        </form>

        <div class="new-user">
            Already a user ? <p routerLink="/auth/login" class="register">Login</p>
        </div>

    </div>

</div>
