<div class="dash-container">

    

</div>



<!-- <div class="dashboard-container">

        <div class="seconder">

            <svg id="logo" width="202" height="87" viewBox="0 0 202 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 83L42 3.5L56 71L93.5 3.5L117.5 71L153.5 3.5L176.5 71L198 51" stroke="black" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <div class="circle"></div>

        </div>
        

</div> -->